@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-striped {
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.05) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 75%,
      transparent 75%,
      transparent
    );
    background-size: 8px 8px;
  }
}
